#massResult {
	padding:5px ; 
	width: 100% ;
	height: 50px  ;  
	border-radius:5px ; 
}
.sel{
	margin:3px !important;
	width:400px !important; 
	 
}

.btnMY{	
	width: 150px ; 
}


.home{
overflow:auto;
}

li{
list-style-type: none;
}

.bord{
	border:solid 1px black ; 
}

.fontSize{
	font-size:2px ; 
}
.dblock{
	display: block ; 
}
#sl_image{
	margin-top: 50px ; 
	height:200px;
    display:block  ;
	overflow-x: scroll;
	white-space: nowrap;
}
.showOf{
	display:none ; 
}
.dinline{
display:inline ; 
}