#massResult {
	padding:5px ; 
	width: 100% ;
	height: 50px  ;  
	border-radius:5px ; 
}
.sel{
	margin:3px !important;
	width:400px !important; 
	 
}

.btnMY{	
	width: 150px ; 
}


.home{
overflow:auto;
}

li{
list-style-type: none;
}

.bord{
	border:solid 1px black ; 
}

.fontSize{
	font-size:2px ; 
}
.dblock{
	display: block ; 
}
.temaVision1{
	margin-top: 50px ; 
	height:150px;
    display:block  ;
	overflow-x: scroll;
	white-space: nowrap;
}
.temaVision2{
	margin-top: 50px ; 
	height:300px;
    display:block  ;
	overflow-y: scroll;
}

.showOf{
	display:none ; 
}
.dinline{
display:inline ; 
}
.panelka{
	position: relative;
	bottom: -200px; /* Положение от нижнего края */
     /* Положение от правого края right: -100px; */ 
}



img {
  opacity: 1;
  transition: opacity 0.3s;
}
 
img[data-src] {
  opacity: 0;
}
