 .BOX-SELECT{
    
} 
.SELECT{
    display: block;
    width: 700px ; 
    height: 300px;
    overflow-x: scroll  ;
    overflow-y: scroll  ;
    text-align: left ; 
    /* border:solid 1px black ;  */
}
.OPTION{
    
    /* display: block; */
    /* border:solid 1px silver ; */
    /* width:700px; */
    
}
td{
    /* border:solid 1px black ;   */
}
tr{
    height: 40px;
    /* border:solid 1px red ;   */
}
.SELECT-CLICK{
    width: 700px ; 
    height: 40px;
    border: solid red 2px ; 

}