 .BOX-SELECT{
    
} 
.SELECT{
    display: block;
    width: 100% ; 
    max-height: 300px;
    overflow-x: auto  ;
    overflow-y: auto  ;
    text-align: left ; 
    /* border:solid 1px black ;  */
}
.OPTION{
    
    /* display: block; */
    /* border:solid 1px silver ; */
    /* width:700px; */
    
}
td{
    /* border-bottom: solid silver 1px ; 
    height: 40px; 
    background-color:silver ;  */
    height: 40px;
}
td:hover{
    border-bottom: solid silver 1px ; 
    /* height: 40px;  */
    background-color:silver ; 
}
tr{
    /* border-bottom: solid silver 1px ;  */
    /* height: 40px; */
    /* border:solid 1px red ;   */
}
td:hover{
    /* border-bottom: solid silver 1px ; 
    height: 40px; 
    background-color:silver ;  */
}
.SELECT-CLICK{
    padding: 5px ; 
    width: 100% ; 
    height: 40px;
    border: solid silver 1px ; 

}
.showOFF{
display:none ; 
}
.showON{
display:inline ; 
}
.select-icon{
width: 35px ; 
height: 35px;
float: right
}
label{
/* border: solid 1px black ;  */
width: 100% ; 
height: 100% ; 
}